/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  height: 100vh;
  background: radial-gradient(circle at 15% 80%, rgba(255, 175, 204, 0.55), rgba(255, 175, 204, 0) 60%),
              radial-gradient(circle at 70% 75%, rgba(115, 223, 255, 0.45), rgba(115, 223, 255, 0) 60%),
              radial-gradient(circle at 90% 15%, rgba(165, 158, 255, 0.45), rgba(165, 158, 255, 0) 60%),
              radial-gradient(circle at 50% 30%, rgba(255, 255, 255, 0.8), rgba(240, 240, 255, 0.8)),
              #f6f6ff;
  background-size: cover;
  background-repeat: no-repeat;
  
 
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Header */
header {
  background: #000000;
  color: #fff;
  padding: 10px 0;
}

.item a{
  color:antiquewhite;
  text-decoration: underline;
}

header h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.header__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Answer{
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}

.Answer p{
  background:#FFFFFF;
  display:inline-block;
  padding:10px;
  border-radius: 10px;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  transform: scale(1.2);
  display: flex;
}

/* Sections */
.section {
  padding: 40px 0;
}

/* Footer */
footer {
  background: #000000;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo img {
  width: 50px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.InputC {
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.InputC .container {
  display: flex;
  gap: 10px;
  width: auto;
  margin: 0;
  padding: 0 20px;
}

.InputC button{
  background-color: black;
  color: white;
  height: 60px;
  padding: 0 20px;
  white-space: nowrap;
  cursor: pointer;
  
}

.InputC input{
  background-color: white;
  border: 1px solid black;
  width: 500px;
  height: 60px;
}

.container .about{
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.container .link{
  color:white;
  
}
