* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;  line-height: 1.6;
  background: radial-gradient(circle at 15% 80%, rgba(255, 175, 204, 0.55), rgba(255, 175, 204, 0) 60%),
              radial-gradient(circle at 70% 75%, rgba(115, 223, 255, 0.45), rgba(115, 223, 255, 0) 60%),
              radial-gradient(circle at 90% 15%, rgba(165, 158, 255, 0.45), rgba(165, 158, 255, 0) 60%),
              radial-gradient(circle at 50% 30%, rgba(255, 255, 255, 0.8), rgba(240, 240, 255, 0.8)),
              #f6f6ff;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
header {
  background: white;
  color: black;
  display: flex;
  flex-direction: row-reverse;
}

header .container {
  align-items: center;
}
.container .header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;

}

.cardExample{
border-radius: 5px;
  width: 230px;
  color: white;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
}

/* Sections */
.section {
  padding: 40pui j uix 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

.section h2 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.section p {
  margin-bottom: 20px;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Footer */
footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
}
